.chat-messages {
  height: 500px; /* Đặt chiều cao cố định hoặc tính toán chiều cao động nếu cần */
  flex-grow: 1;
  border-top: 1px solid rgba(0, 177, 255);
  overflow-y: auto; /* Kích hoạt thanh cuộn dọc */
  background-color: #ffffff;
  margin: 0;
  position: relative;
}

.message {
  display: flex;
  align-items: flex-start; /* Căn giữa avatar và phần text */
  margin: 10px 20px; /* Khoảng cách xung quanh tin nhắn */
  position: relative;
}

.message.self {
  flex-direction: row; /* Avatar bên trái, text bên phải */
  justify-content: flex-end; /* Căn tin nhắn của bản thân sang bên phải */
}

.message-data {
  padding: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
  display: inline-block;
  max-width: 70%; /* Giới hạn chiều rộng tối đa cho tin nhắn */
  word-wrap: break-word; /* Đảm bảo văn bản dài sẽ xuống dòng */
  position: relative;
}

.message.self .message-data {
  background-color: #d5d7dc; /* Màu nền tối hơn cho tin nhắn của bản thân */
  text-align: right; /* Căn phải nội dung tin nhắn */
  margin-left: 10px; /* Khoảng cách giữa text và avatar bên trái */
}

.message-avatar,
.avatar.self {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #000;
}

/* Avatar của người khác nằm bên trái */
.message .message-avatar {
  margin-right: 10px; /* Khoảng cách giữa avatar và nội dung tin nhắn bên phải */
}

/* Avatar của bản thân nằm bên phải */
.message.self .avatar.self {
  margin-left: 10px; /* Khoảng cách giữa text và avatar bên phải */
}

/* Phần tử giả để chiếm không gian của avatar khi không có avatar */
/* của bản thân */
.avatar-placeholder.self {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: transparent; /* Đảm bảo placeholder không có màu nền */
}
/* của người khác */
.message-avatar-placeholder {
  margin-left: 50px;
}

.message-file {
  background-color: #e6f7ff;
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 0.9em;
}

.message-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
  margin-top: 5px;
}

/* Thêm CSS cho hình ảnh trong tin nhắn */
.message-image img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}