.chat-messages {
  flex: 1;
  display: flex;
  border-top: 1px solid rgba(0, 177, 255);
  overflow-x: hidden;
  overflow-y: overlay;
  flex-direction: column;
  padding: 8px 0;
}

.message {
  display: flex;
  align-items: flex-start; /* Căn giữa avatar và phần text */
  margin: 10px 20px; /* Khoảng cách xung quanh tin nhắn */
  position: relative;
}

.message.self {
  flex-direction: row; /* Avatar bên trái, text bên phải */
  justify-content: flex-end; /* Căn tin nhắn của bản thân sang bên phải */
}

.message-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start; /* Đảm bảo nội dung tin nhắn không ảnh hưởng bởi tên */
}

.message-data {
  padding: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
  display: inline-block;
  max-width: 100%; /* Giới hạn chiều rộng tối đa cho tin nhắn */
  word-wrap: break-word; /* Đảm bảo văn bản dài sẽ xuống dòng */
  position: relative;
  flex: 0; /* Chỉnh flex thành 0 để không kéo dãn chiều rộng */
  align-self: flex-start; /* Đảm bảo phần text tự điều chỉnh theo nội dung */
}

.message.self .message-data {
  background-color: #d5d7dc; /* Màu nền tối hơn cho tin nhắn của bản thân */
  text-align: right; /* Căn phải nội dung tin nhắn */
  margin-left: 10px; /* Khoảng cách giữa text và avatar bên trái */
  flex: 0; /* Chỉnh flex thành 0 để không kéo dãn chiều rộng */
  align-self: flex-end; /* Đảm bảo phần text tự điều chỉnh theo nội dung */ 
}

.message-avatar,
.avatar.self {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #000;
}

/* Avatar của người khác nằm bên trái */
.message .message-avatar {
  margin-right: 10px; /* Khoảng cách giữa avatar và nội dung tin nhắn bên phải */
}

/* Avatar của bản thân nằm bên phải */
.message.self .avatar.self {
  margin-left: 10px; /* Khoảng cách giữa text và avatar bên phải */
}

/* Phần tử giả để chiếm không gian của avatar khi không có avatar */
/* của bản thân */
.avatar-placeholder.self {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: transparent; /* Đảm bảo placeholder không có màu nền */
}
/* của người khác */
.message-avatar-placeholder {
  margin-left: 50px;
}

.message-file {
  background-color: #e6f7ff;
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 0.9em;
}

.message-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
  margin-top: 5px;
}

/* Thêm CSS cho hình ảnh trong tin nhắn */
.message-image img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

/* Thêm CSS cho message-sender-time */
.message-sender-time {
  font-size: 0.8em;
  color: #888;
  margin-left: 10px;
  margin-bottom: 5px; /* Khoảng cách giữa thời gian gửi và nội dung tin nhắn */
}

.message-sender-time-wrapper {
  width: auto; /* Đảm bảo chiều rộng của phần tên và thời gian không ảnh hưởng tới nội dung tin nhắn */
  margin-bottom: 5px; /* Khoảng cách giữa thời gian và nội dung tin nhắn */
}

.message-sender-time.self {
  margin-right: 10px;
  margin-left: 0;
  margin-bottom: 5px; /* Khoảng cách giữa thời gian gửi và nội dung tin nhắn */
}