.user-profile {
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: Arial, sans-serif;
    cursor: pointer;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.avatar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: transparent !important;
  border: none !important;
}

.avatar-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent !important;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle; /* Đảm bảo căn giữa theo chiều dọc */
}

.status-indicator {
  position: absolute;
  top: -2px;   /* Adjust this value to move it closer to the top */
  left: -2px;  /* Adjust this value to move it closer to the left */
  width: 10px;
  height: 10px;
  background-color: #00ff00;  /* Màu trạng thái xanh lá cây */
  border-radius: 50%;  /* Đảm bảo trạng thái hiển thị dưới dạng hình tròn */
}

.user-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
    font-size: 16px;
}

.email {
    font-size: 14px;
    color: #a8b4cf;
}

  
  .status-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #00ff00;  /* Màu trạng thái xanh lá cây */
    border-radius: 50%;  /* Đảm bảo trạng thái hiển thị dưới dạng hình tròn */
  }
  
  .user-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .username {
    font-weight: bold;
    font-size: 16px;
  }
  
  .email {
    font-size: 14px;
    color: #a8b4cf;
  }
  