.chat-tool-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
  
  .tool-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  
  .status-card {
    margin-bottom: 16px;
  }
  
  .status-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .collapse-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    background-color: white;
    border: none;
  }
  
  .collapse-container .ant-collapse-item {
    transition: all 0.3s;
  }
  
  .collapse-container .ant-collapse-item-active {
    flex-grow: 1; /* Thanh mở sẽ chiếm toàn bộ không gian còn lại */
  }
  
  .collapse-container .ant-collapse-content {
    height: 100%;
    overflow: hidden;
    flex-grow: 1; /* Đảm bảo phần tử này chiếm toàn bộ không gian còn lại */
  }
  
  .tag-container {
    margin-top: 8px;
  }
  
  .action-buttons {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }
  
  .avatar-container {
    text-align: center;
  }
  
  .info-container {
    max-height: 500px; /* Đặt chiều cao tối đa cho container thông tin */
    overflow-y: auto; /* Cho phép cuộn dọc */
  }
  
  .infor-text-header {
    font-weight: bold;
    overflow: hidden;
  }
