.header {
    height: 55px;
    display: flex;
    justify-content: space-between; /* Phân chia không gian giữa logo/navbar và các phần tử khác */
    align-items: center;
    background-color: #223366;
    padding: 16px 8px;
    color: white;
    flex-wrap: nowrap; /* Đảm bảo rằng các phần tử không tràn xuống dòng */
    overflow: hidden; /* Ngăn chặn nội dung bị tràn ra khỏi header */
}

.logo-container {
    display: flex;
    align-items: center;
    flex: 1; /* Cho phép logo-container chiếm không gian còn lại */
}

.jss2375-mix {
    display: flex;
    align-items: center; /* Đảm bảo logo luôn được căn giữa theo chiều dọc */
    height: 68px;
    padding: 0 16px;
}

.main-logo {
    height: 68px; /* Kích thước mặc định của logo */
    width: auto;
    display: inline-block;
    vertical-align: middle; /* Căn giữa logo với các thành phần xung quanh */
    transition: height 0.3s ease; /* Hiệu ứng chuyển tiếp khi thay đổi kích thước */
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 16px; /* Khoảng cách giữa logo và navbar */
    flex-shrink: 1; /* Cho phép phần nav co lại nếu không đủ không gian */
}

.user-section {
    display: flex;
    align-items: center;
    flex-wrap: nowrap; /* Không cho phép các phần tử trong user-section tràn xuống dòng */
}
.logout-section {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px; /* Thêm khoảng cách xung quanh icon */
    border-radius: 4px; /* Bo góc cho khung viền */
}

.logout-icon {
    font-size: 20px;
    align-items: center;
    color: white;
}

.logout-section:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Màu nền khi hover */
    border-radius: 8px;
}

.logout-tooltip {
    display: none;
    position: absolute;
    bottom: 35px; /* Định vị tooltip phía trên icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 100;
}

.logout-section:hover .logout-tooltip {
    display: block; /* Hiện tooltip khi hover */
}

/* Khi các phần tử bên phải chạm vào nhau (màn hình nhỏ hơn 768px) */
@media screen and (max-width: 768px) {
    .main-logo {
        height: 50px; /* Giảm kích thước logo khi không còn đủ không gian */
    }

    .logo-text {
        display: none;
    }

    .header {
        height: 50px; /* Giảm chiều cao của header */
    }

    .jss2375-mix {
        height: 50px;
    }
}

/* Khi màn hình nhỏ hơn 480px */
@media screen and (max-width: 480px) {
    .main-logo {
        height: 68px;
    }

    .jss2375-mix {
        height: 40px;
    }

    .nav, .user-section {
        align-items: center;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}
